
/* Voeg deze class toe aan een element als het niet gebruikt wordt op de huidige page
(of verwijder het gewoon uit de html file) */
.Hidden{
    font-size: 0px;
    margin: 0px;
}
hr{
    width: 15%;
}
/* De percentages in deze selectors moeten worden aangepast als de inhoud van de 2 elementen
niet dezelfde breedte zijn */
.LeftAligned{
    float: left;
    margin-left: 25%;
}
.RightAligned{
    float: right;
    margin-right: 25%;
}

/* Hot drinks inhoud is een heel klein beetje kleiner dan Cold Drinks,
dus moet ervoor worden gecompenseerd in de "margin-left" attribute */
.LeftAligned{
    float: left;
    margin-left: 27%;
}